/* basic resetting */
html { height: 100%; width: 100% }
body { min-height: 100%; width: 100%; padding: 0; margin: 0; font-family: sans-serif; background-color: #F7F1ED; color: #2F365F }
ul, ol, li, nav, menu, p, h1, h2, h3, fieldset, form { list-style-type: none; padding: 0; margin: 0 }
a { text-decoration: none }
p { margin-bottom: 2rem }
input, select, textarea, a, button, div { outline: 0 }

.container { padding: 1rem }
.container h1 { font-weight: normal; font-size: 1.6rem; line-height: 2rem; margin: 0 0 1rem 0 }
.container h2 { font-weight: normal; font-size: 1.2rem; line-height: 1.8rem; margin: 0 0 1rem 0 }
.container h3 { font-weight: normal; font-size: 1rem; line-height: 1.6rem; margin: 0 0 1rem 0 }
.container p { font-size: 0.8rem; line-height: 1.4rem }
.container a { color: #1E90FF }
.container a:hover { color: #2F365F; text-decoration: underline }
.container label:focus, 
.container input:focus { box-shadow: 0 0 0 0.2rem #1E90FF }

.container .button { display: inline-block; line-height: 2rem; font-size: 0.8rem; padding: 0 1rem; background-color: #2F365F; border: 1px solid #2F365F; border-radius: 0.5rem; color: #F7F1ED; cursor: pointer; box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25) }
.container .button:hover { background-color: #1E90FF; border-color: #1E90FF; color: #FFF; text-decoration: none }
.container .button:disabled { background-color: #666 }
.container .button:focus { border-color: #1E90FF; background-color: #1E90FF }
.container .single-button,
.container .button-group { margin-bottom: 2rem; text-align: left }
.container .button-group .button { border-right: 1px solid rgba(255, 255, 255, 0.5); border-radius: 0 }
.container .button-group .button:last-of-type { border-right: none; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem }
.container .button-group .button:first-of-type { border-right: 1px solid rgba(255, 255, 255, 0.5); border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem }

.data-table { border-collapse: collapse; margin-bottom: 2rem; white-space: nowrap; word-break: keep-all }
.data-table th,
.data-table td { font-size: 0.8rem; border-bottom: 1px solid #F7F1ED; border-bottom: 1px dotted #2F365F; padding: 0.5rem; white-space: nowrap; word-break: keep-all }
.data-table th { font-weight: normal; text-align: right; padding-right: 1rem; padding-left: 3rem; color: #2F365F }
.data-table tr:last-of-type th,
.data-table tr:last-of-type td { border-bottom: none }

.list-table-wrapper { max-width: 100%; overflow-x: auto }
.list-table { border-collapse: collapse; margin-bottom: 2rem; white-space: nowrap; word-break: keep-all }
.list-table th { background-color: #2F365F; color: #F7F1ED; font-weight: normal; padding: 0.5rem; text-align: left }
.list-table td { padding: 0.5rem }
.list-table td,
.list-table th { font-size: 0.8rem; padding-right: 4rem; white-space: nowrap; word-break: keep-all }
.list-table th.right,
.list-table td.right { text-align: right }

.input-fields { margin: 0 0 2rem 0; border: none; display: grid; grid-template-columns: 1fr 3fr; max-width: 60rem }
.checkbox-fields { margin: 0 0 0.5rem 0; border: none; display: flex; flex-direction: column; text-align: left }
.checkbox-fields .field-label { margin-bottom: 1rem }
.checkbox-fields .field-label:last-of-type { margin-bottom: 0 }
.field-label { font-size: 1rem }
.field { max-width: 100% }
.field select,
.field input[type=number],
.field input[type=text],
.field input[type=password],
.field input[type=datetime-local] { padding: 0.5rem; border-radius: 0.25rem; border: none; background-color: rgba(0, 0, 0, 0.125); color: #2F365F; margin-right: 1rem }
.field select:last-of-type,
.field input[type=number]:last-of-type,
.field input[type=text]:last-of-type,
.field input[type=password]:last-of-type,
.field input[type=datetime-local]:last-of-type { margin-right: 0 }
.field select:active,
.field select:focus,
.field input[type=number]:active,
.field input[type=number]:focus,
.field input[type=text]:active,
.field input[type=text]:focus,
.field input[type=password]:active,
.field input[type=password]:focus { background-color: rgba(255, 255, 255, 0.75) }
.field select { max-width: 100% }

.charts { margin-bottom: 2rem }
.charts-grid { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem; margin-bottom: 2rem }
.charts-grid3 { grid-template-columns: 1fr 1fr 1fr }
.chart { margin-top: 1rem; background-color: rgba(255, 255, 255, 0.5); border-radius: 0.5rem; padding: 1rem }
.chart legend { display: flex; margin: 0; padding: 0.5rem 0; width: 100% }
.chart legend span { width: 50%; display: block; font-size: 0.5rem; text-transform: uppercase; color: rgba(0, 0, 0, 0.5) }
.chart legend span:last-of-type { text-align: right }
.chart .metrics ul { display: flex }
.chart .metrics li { font-size: 1.5rem; display: flex; flex-direction: column; align-content: center; color: rgba(0, 0, 0, 0.75); margin: 0 2rem 0 0 }
.chart .metrics li span { font-size: 0.8rem; display: block; color: rgba(0, 0, 0, 0.5) }
.chart .graph { display: flex; width: 100%; margin-top: 1rem }
.chart .values { display: grid; grid-template-rows: repeat(5, 1fr); padding: 0 0.5rem; text-align: right; }
.chart .values h3 { margin: 0; padding: 0; font-size: 0.5rem; line-height: 0.5rem; color: rgba(0, 0, 0, 0.5) }
.chart .columns { width: 100% }
.chart .padder { padding: 0.25rem; border-left: 1px solid rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgba(0, 0, 0, 0.25) }
.chart ol { width: 100%; height: 10rem; display: grid; vertical-align: bottom }
.chart ol.ninety { grid-template-columns: repeat(90, 1fr); grid-gap: 2px }
.chart ol.threesixfive { grid-template-columns: repeat(365, 1fr); grid-gap: 1px }
.chart ol li { height: 100%; position: relative }
.chart ol li span { position: absolute; display: block; background-color: rgba(47, 54, 95, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.125); border-right: 1px solid rgba(0, 0, 0, 0.125); width: 100% }
.chart ol li span:hover { background-color: rgba(47, 54, 95, 0.5) }

/* alerts */
.message { font-weight: bold; font-size: 0.9rem; margin-bottom: 1rem }
.success.message { color: #060 }
.error.message { color: #900 }
.info.message { color: #666 }

/* entry forms for signing in, registration */
body.entry { background-color: #2F365F; display: flex; align-items: center; justify-content: center; width: 100%; min-height: 100% }
.entry p { color: rgba(255, 255, 255, 0.5) }
.entry p a { color: rgba(255, 255, 255, 0.75); text-decoration: underline }
.entry p a:hover { color: #FFF }
.redirect-message { color: #FFF }
.redirect-message a { color: rgba(255, 255, 255, 0.5); text-decoration: underline;}
.redirect-message a:hover { color: #FFF }
.entry-form { width: 20rem; padding: 1rem; text-align: center }
.entry-form h1 { text-align: left; font-size: 1.2rem; color: rgba(255, 255, 255, 0.75) }

.entry-form .list { text-align: left }
.entry-form .list li { margin-bottom: 0.5rem }
.entry-form .list-link { color: rgba(255, 255, 255, 0.5); line-height: 1.5rem; font-size: 0.8rem; padding: 0.25rem; border-radius: 0.5rem }
.entry-form .list-link:hover { color: #FFF; text-decoration: underline }
.entry-form .list-link:active,
.entry-form .list-link:focus { background-color: rgba(255, 255, 255, 0.25) }
.entry-form .input-fields { display: block; text-align: left }
.entry-form .field input[type="text"], 
.entry-form .field input[type="password"],
.entry-form .field input[type="email"]{ width: 100%; background-color: rgba(255, 255, 255, 0.125); color: rgba(255, 255, 255, 0.75); font-size: 1rem }
.entry-form .field-label { display: inline-block; text-transform: uppercase; font-size: 0.75rem; color: rgba(255, 255, 255, 0.5); margin-bottom: 0.5rem }
.entry-form .field-label span { border: none; background-color: transparent; margin-left: 0.5rem }
.entry-form .form-buttons { text-align: left; margin-bottom: 2rem }
.entry-form .button { padding: 0 2rem; background-color: rgba(0, 0, 0, 0.5); border: 1px solid rgba(0, 0, 0, 0.5); color: #FFF }
.entry-form .message { color: #FFF; padding: 0.5rem; background-color: rgba(0, 0, 0, 0.5) }

@media (max-width: 600px) {
  .container { padding: 1rem 0.5rem }
  .entry-form { width: unset; box-shadow: none; transform: none; position: unset }
  .input-fields { display: block }
  .field-label { display: inline-block; font-size: 0.75rem; margin-bottom: 0.5rem }
  .button { padding: 0 0.5rem }
  .data-table, 
  .data-table thead, 
  .data-table tbody,
  .data-table th, 
  .data-table td, 
  .data-table tr { display: block; padding: 0; text-align: left }
	.data-table thead tr {  position: absolute; top: -9999px; left: -9999px }
  .data-table th { padding: 0.5rem }
	.data-table td { border: none; position: relative; padding: 0.5rem 0.5rem 1rem 0.5rem }
  .data-table tr:last-of-type th { border-bottom: 1px dotted #2F365F }
  .list-table th,
  .list-table td { font-size: 0.7rem }
  .chart { padding: 0.25rem }
  .chart .metrics li { font-size: 0.8rem; margin: 0 1rem 0 0 }
  .chart .metrics li span { font-size: 0.5rem; line-height: 0.8rem }
  .chart ol.ninety { grid-template-columns: repeat(90, 1fr); grid-gap: 1px }
  .chart ol.threesixfive { grid-template-columns: repeat(365, 1fr); grid-gap: 0 }
  .chart ol li span { border-right: none }
  .chart .values { padding: 0 0.125rem }
  .chart .legend { padding-bottom: 0 }
}

/* pagination */
.pagination { list-style-type: none; margin: 1rem 0 }
.pagination li { display: inline-block; margin: 0.25rem 0.25rem 0 }
.pagination a { border: 1px solid #CCC; display: inline-block; background-color: #EEE; padding: 0.25rem 0.5rem; font-size: 0.9rem; color: #999; text-decoration: none }
.pagination a:hover { background-color: #666; color: #CCC }
.pagination a.current-page { background-color: #FFF; color: #666; border-color: #666 } 
.pagination span { pointer-events: none; display: inline-block; margin-left: 0.25rem; padding: 0 0.5rem; color: #999 }
