/* basic resetting */
html { width: 100%; height: 100% }
html, body { padding: 0; margin: 0; font-family: sans-serif }
body { line-height: 100%;  min-width: 320px }
ul, li, nav, menu { list-style-type: none; padding: 0; margin: 0 }
a { text-decoration: none }
input, select, textarea, a, button, div { outline: 0 }
.template { color: var(--template-text-color); background-color: var(--template-background-color) }

/* header */
.header { display: flex; justify-content: space-between; flex-direction: row; flex-wrap: nowrap; align-content: stretch; height: 4rem }
.heading { flex-direction: row; align-self: flex-start; font-size: 1.2rem; letter-spacing: 0; margin: 0; padding: 0 0 0 0.5rem; color: inherit; font-weight: normal; line-height: 4rem }
.heading a { color: inherit; opacity: 0.8 }

/* header account and administrator dropdown menus */
.template .menus { background-color: inherit; padding: 0.5rem 0.5rem 0 0 }
.template .menu-group { display: inline-block; position: relative; margin: 0; padding: 0; cursor: pointer; font-size: 0.8rem; color: inherit }
.template .menu-icon { filter: invert(1); height: 2rem; width: 2rem; opacity: 0.75; margin: 0.5rem; }
.template .menu-group-label { height: 3rem; line-height: 3rem; padding: 0 0 0 1rem } 
.template .menu-trigger { display: flex; height: 3rem; line-height: 3rem; cursor: pointer; color: inherit; border: none; background-color: transparent; padding: 0; margin: 0; border-radius: 0.5rem }
.template .menus .menu-group:first-of-type { padding-left: 0 }
.template .menu-group-active .dropdown-menu,
.template .menu-group:hover .dropdown-menu,
.template .menu-group:focus .dropdown-menu { display: block }
.template .menu-group-active .menu-trigger,
.template .menu-group:hover .menu-trigger,
.template .menu-group:focus .menu-trigger { border-radius: 0.5rem 0.5rem 0 0; height: 4rem; line-height: 4rem } 
.template .menu-group-active .menu-trigger,
.template .menu-group:hover .menu-trigger,
.template .menu-group:focus .menu-trigger,
.template .menu-trigger:focus { height: 3rem; line-height: 3rem; background-color: var(--template-menu-background-color); box-shadow: 0 0.25rem 0.25rem var(--template-shadow-color) }
.template .dropdown-menu { padding: 0.5rem 0.5rem 0.5rem 4rem; position: absolute; border-radius: 0.5rem; border-top-right-radius: 0; background-color: var(--template-menu-background-color); box-shadow: 0 0.25rem 0.25rem var(--template-shadow-color); text-align: right; z-index: 1; top: 3rem; right: 0; display: none }
.template .menu-link { white-space: nowrap; line-height: 2rem; padding: 0 1rem; margin-bottom: 0.5rem; white-space: nowrap; font-size: 0.8rem; color: var(--template-menu-link-text-color); display: block; text-decoration: none }
.template .menu-link:hover,
.template .menu-link:focus { background-color: var(--template-menu-link-hover-background-color); color: var(--template-menu-link-color); border-radius: 0.5rem }
.template .menu-link.current-page { color: var(--template-menu-current-page-link-text-color); background-color: var(--template-menu-current-page-link-background-color) }
.template .menu-group .menu-link:last-of-type { margin-bottom: 0 }

/* navigation bar and "spillage" when links don't fit */
.template .navigation { color: var(--template-text-color); background-color: var(--template-background-color); display: flex; position: relative; height: 2.5rem }
.template .navigation-links { display: flex; white-space: nowrap; height: 2rem; line-height: 2rem; overflow: hidden; width: 100% }
.template .navigation-links ul { margin: 0 0 0 1rem }
.template .navigation-link { display: flex; white-space: nowrap; border-radius: 0.5rem; color: inherit; margin: 0 0.5rem; height: 2rem; line-height: 2rem; padding: 0 0.5rem; opacity: 0.8; font-size: 0.9rem; cursor: pointer }
.template .navigation-link:hover,
.template .navigation-link:active { background-color: var(--template-navigation-link-focus-color) }
.template .navigation-link:focus { background-color: var(--template-navigation-link-focus-color) }
.template .navigation-link span { height: 2rem; display: block }
.template .navigation-link img { filter: invert(1); margin: 0.5rem; height: 1rem; width: 1rem }
.template .navigation-link.current-page { color: var(--template-navigation-current-page-link-text-color); background-color: var(--template-navigation-current-page-link-background-color); border-radius: 0.5rem }
.template .spillage { flex-direction: column; height: 3rem; padding: 0 0.5rem; cursor: pointer; overflow: hidden }
.template .spillage-active,
.template .spillage:hover,
.template .spillage:focus { background-color: var(--template-spillage-menu-background-color); border-top-left-radius: 0.5rem } 
.template .spillage-trigger { cursor: pointer; height: 2rem; color: inherit; border: none; background-color: transparent; padding: 0 0.5rem; margin: 0; border-radius: 0.5rem }
.template .spillage-trigger:focus { background-color: var(--template-spillage-menu-background-color) }
.template .spillage-links { display: none; background-color: var(--template-spillage-menu-background-color); position: absolute; top: 2.5rem; right: 0; padding: 0.5rem 0.5rem 0.5rem 4rem; text-align: right; border-bottom-left-radius: 0.5rem }
.template .spillage-icon { width: 1rem; filter: invert(1) }
.template .spillage-link { line-height: 2rem; font-size: 0.8rem; display: block; margin-bottom: 0.5rem; padding: 0 0.5rem; color: var(--template-spillage-menu-link-text-color) }
.template .spillage-link:hover,
.template .spillage-link:focus { background-color: var(--template-spillage-menu-link-hover-background-color); border-radius: 0.5rem; color: var(--template-spillage-menu-link-hover-color) }
.template .spillage-links .spillage-link:last-of-type { margin-bottom: 0 }
.template .spillage-active .spillage-links,
.template .spillage:hover .spillage-links,
.template .spillage:focus .spillage-links { display: block }
.template .spillage-active .spillage-trigger,
.template .spillage:hover .spillage-trigger,
.template .spillage:focus .spillage-trigger { background-color: transparent }

@media (max-width: 960px) {
  .template .heading { padding-left: 0.5rem; font-size: 1rem }
  .template .menus { margin-right: 0; min-height: 2rem; line-height: 2rem }
  .template .menu-group .dropdown-menu:first-of-type { right: 0 }
  .template .menu-group-label { display: none !important }
  .template .menu-group img { position: unset }
  .template .dropdown-menu { right: -0.5rem } 
  .template .navigation { height: 2.5rem }
  .template .navigation-link { height: 2rem; margin-left: 0.5rem; margin-right: 0.5rem }
  .template .navigation-link:first-of-type { padding-left: 0.5rem; margin-right: 0 }
  .template .spillage { height: 2.5rem }
  .template .spillage-links { top: 2.5rem }
  .template .spillage-links a { font-size: 0.8rem }
  .template .navigation-links span { display: none }
  .template .spillage img { padding-right: 0 }
}

:root {
  --template-background-color: #2F365F;
  --template-text-color: #F7F1ED;
  --template-focus-color: #1E90FF;
  --template-menu-background-color: #121527;
  --template-menu-link-text-color: #F7F1ED;
  --template-menu-link-hover-background-color: rgba(255, 255, 255, 0.5);
  --template-menu-current-page-link-text-color: #F7F1ED;
  --template-menu-current-page-link-background-color: transparent;
  --template-navigation-link-focus-color: rgba(255, 255, 255, 0.25);
  --template-navigation-current-page-link-text-color: #F7F1ED;
  --template-navigation-current-page-link-background-color: rgba(255, 255, 255, 0.125);
  --template-spillage-menu-background-color: #121527;
  --template-spillage-menu-link-text-color: #F7F1ED;
  --template-spillage-menu-link-hover-text-color: #F7F1ED;
  --template-spillage-menu-link-hover-background-color: rgba(255, 255, 255, 0.5);
  --template-darkest-color: #121527;
  --template-highlight-focus-color: rgba(255, 255, 255, 0.5);
  --template-shadow-color: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --template-background-color: #191927;
    --template-text-color: rgba(247, 241, 237, 0.75);
    --template-focus-color: #1665b4;
    --template-menu-background-color: #2F365F;
    --template-menu-link-text-color: #F7F1ED;
    --template-menu-link-hover-background-color: rgba(255, 255, 255, 0.25);
    --template-menu-current-page-link-text-color: rgba(247, 241, 237, 0.75);
    --template-menu-current-page-link-background-color: transparent;
    --template-spillage-menu-background-color: #2F365F;
    --template-spillage-menu-link-text-color: #F7F1ED;
    --template-spillage-menu-link-hover-text-color: #F7F1ED;
    --template-spillage-menu-link-hover-background-color: rgba(255, 255, 255, 0.25);
    --template-navigation-link-focus-color: rgba(255, 255, 255, 0.25);
    --template-navigation-current-page-link-text-color: rgba(247, 241, 237, 0.75);
    --template-navigation-current-page-link-background-color: rgba(255, 255, 255, 0.125);
    --template-darkest-color: #2F365F;
    --template-highlight-focus-color: rgba(255, 255, 255, 0.25);
    --template-shadow-color: #000;
  }
}
